* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  background: rgb(177, 163, 163);
}
.container {
  height: 100%;
}

#itemContainer {
  background: rgb(177, 163, 163);
  overflow: scroll;
  overflow-x: hidden;
  box-sizing: content-box;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 10px;
  position: sticky;
  top: 0;
  background: rgb(177, 163, 163);
  z-index: 1;
}
::-webkit-scrollbar {
  display: none;
}
#cart-plus{
  font-size: 30px;
  margin: 0 16px;
  color: rgb(238, 228, 228);
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
}
.util span{
  font-size: 15px;
}
.util i:active{
  color: white;
  background: rgb(151, 150, 146);
}
.items {
  display: none;
}
#mobile,
#laptop,
#clothes{
  margin-top: 40px;
  margin-left: 30px;
}
h2{
  color: antiquewhite;
  font-size: 35px;
  font-weight: bold;
}

#item-card {
  width: 390px;
  height: 250px;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  border-radius: 5px;
  background: rgb(253, 221, 226);
  cursor: pointer;
  transition: 0.5s all ease-in-out;
  text-align: center;
  box-shadow: 0px 10px 35px 0px black !important;
}
#card-top {
  display: flex;
  margin: 5px 0;
  justify-content: space-between;
}
.fa-regular {
  padding: 6px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
  color: black;
}
.toggle-heart {
  background: crimson;
  color: white;
}
#item-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
  display: block;
  margin-bottom: 15px;
  transition: 0.5s all ease-in-out;
}
#item-card:hover img {
  transform: scale(1.2);
}
#item-name,#item-brand{
  margin: 5px 0;
  font-weight: 600;
  color: darkslategray;
  font-size: 18px;
}
#item-price {
  margin: 0;
  color: rgb(2, 27, 27);
  font-weight: 500;
  font-size: 18px;
}
#cart {
  background: rgb(177, 165, 165);
  padding-right: 30px;
  overflow-y: scroll;
}
.cart-toggle {
  display: none;
}
#cart-page {
  background: white;
  margin: 40px 10px;
  margin-right: 50px;
  padding: 20px 30px;
  padding-bottom: 30px;
  position: relative;
}
#cart-title {
  font-size: 35px;
  margin: 0;
  color: crimson;
}
#cart-page table {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
#cart-page table thead td {
  font-size: 25px;
  padding-bottom: 10px;
}
#m-total-amount {
  display: none;
}
#cart-page table tbody td {
  padding: 10px 0;
  font-size: 20px;
}
#cart-page table tbody button {
  outline: none;
  border: none;
  font-size: 16px;
  background: none;
  background: lightcoral;
  color: white;
  cursor: pointer;
  margin: 0 5px;
  padding: 3px 5px;
}
#cart-page table tbody img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
#checkout {
  text-align: center;
  margin: 40px;
  border-radius: 5px;
  padding: 10px 20px;
}
#total-price{
  margin-bottom: 50px;
  margin-left: 20px;
  font-size: 25px;
}
.cart-btn {
  outline: none;
  border: none;
  background: crimson;
  color: white;
  padding: 10px 25px;
  border-radius: 20px;
  font-size: 18px;
  text-transform: uppercase;
  bottom: 30px;
  margin: 15px auto;
  cursor: pointer;
}
.cart-btn:active {
  color: crimson;
  background: none;
  border: 1px solid crimson;
}

